$ar-color-orange-0: #ed5505;
$ar-color-red-0: #dc0023;
$ar-color-red-1: #ce0e2d;
$ar-color-red-2: rgba(220, 0, 35, 0.41);
$ar-color-light-blue-0: #b6c2d3;
$ar-color-light-blue-1: #b8c2d1;
$ar-color-light-blue-2: #8898aa;
$ar-color-light-blue-3: #aab7ca;
$ar-color-gray-0: #636669;
$ar-color-gray-1: #c9d1dd;
$ar-color-gray-2: #525f7f;
$ar-color-blue-0: #32325d;
$ar-color-blue-1: #295eac;
$ar-color-blue-2: #093061;
$ar-color-blue-3: #051e3b;
$ar-color-blue-4: #012e68;
$ar-color-blue-5: #012758;
$ar-color-blue-6: #00baff;
$ar-color-blue-7: #004db3;
$ar-color-blue-8: #002c66;
$ar-color-blue-9: #002049;
$ar-color-blue-10: #1f58c3;
$ar-color-white-0: #ffffff;
$ar-color-white-1: #f8f9fe;
$ar-color-white-2: #f2f2f2;
$ar-color-white-3: #e3e9f3;
$ar-color-white-4: #dee2e6;
$ar-color-white-5: #d4d6e3;
$ar-color-white-6: #d2d4e4;
$ar-color-white-7: #d2d2d2;
$ar-color-yellow-0: #fbbd00;
$ar-color-yellow-1: #fbe600;
$ar-color-green-0: #00cca8;
$ar-color-green-1: #00deb7;
$ar-color-green-2: #26d4b5;
$ar-stripe-error: #ff91aa;





