.ar-container-navbar{
  @media (min-width: 1200px){
    max-width: 77%;
  }
}

.bg-ar-navbar{
  background-color: $ar-color-white-2;
}

.ar-nav-link-blue{
  color: $ar-color-blue-0;
  font-weight: 500;
  margin: 0 !important;
  font-size: .9em;
  letter-spacing: 0.2px;
  &:hover{
    color: $ar-color-red-0 !important;
  }
}

.ar-nav-link-red{
  color: $ar-color-red-0;
}

.ar-nav-link{
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 0.750rem !important;
  white-space: pre;
  @media (min-width: 1500px) {
    font-size: 0.8vw !important;
  }
}

.ar-nav-button-link{
  display: flex !important;
  .ar-nav-button{
    white-space: pre;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.8vw;
    padding-right: 0.8rem;
  }
}

.ar-nav-link-icon-button{
  width: 1rem;
}

.ar-nav-brand{
    height: 40px !important;
  @media (min-width: 1400px) {
    height: 50px !important;
  }
}

.ar-button-flag{
  .ar-dropdown-menu{
    transform: translate3d(7px, 50px, 0px) !important;
    min-width: 5rem;
    max-width: 8rem;
    &::before{
      display: none !important;
    }
    .ar-dropdown-item{
      display: flex;
      justify-content: center;
    }
  }
}

.ar-language{
  font-size: 1.1vw;
}