.ar-card-header{
  margin-bottom: -2rem;
  z-index: 5;
  white-space: pre;
}

.ar-card-title{
  font-size: 14px;
  padding: 0;
  font-weight: 600;

  @media (min-width: 1200px) and (max-width: 1471px) {
    font-size: 16px;
    margin-bottom: 1.2em;
    margin-left: .2em;
  }

  @media (min-width: 1471px) and (max-width: 1750px) {
    font-size: 17.5px;
    margin-left: 3px;
  }

  @media (min-width: 1751px){
    font-size: 18px;
    padding: 0 10px 0 10px;
  }
}

.ar-card-image{
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  .ar-image{
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .ar-logo{
    border-radius: 11px;
    background-color: #ffffff;
    width: 30%;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .ar-border-image-offer{
    width: 100%;
    padding-bottom: 12%;
    position: absolute;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -5%;
      width: 120%;
      height: 100%;
      background-color: $ar-color-white-0;
      transform-origin: 0 100%;
      transform: rotate(6deg);
    }
  }
}

.ar-card-body-offer{
  padding: 1.1em 1.9em 2em 1.9em;

  @media (min-width: 1200px) and (max-width: 1471px) {
    padding: 1em 1.5em 2em 1.7em;
  }

  @media (min-width: 1700px){
    padding: 1.0rem 1.8rem 2.1rem 1.8rem;
  }
}

.ar-car-result{
  .ar-car-top{
    border-bottom: solid;
    border-bottom-color: #ececec;
    border-bottom-width: thin;
    margin: 0;
    height: 80px;
    @media (min-width: $ar-big-size){
      height: 110px;
    }
    .ar-car-top-left{
      padding: 0;
      width: 47%;
      display: flex;
      height: 100%;
      .ar-car-company-logo{
        display: flex;
        align-items: center;
        width: 46%;
        border-right: solid;
        border-right-color: #ececec;
        border-right-width: thin;
        padding: 0 2.65rem;
        img{
          width: 100%;
        }
        @media (min-width: $ar-big-size){
          padding: 0 3.5rem;
        }
      }
      .ar-car-type{
        padding-left: 2rem;
        width: 55%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-transform: capitalize;
        h3{
          margin: 0;
        }
        h6{
          text-transform: initial;
        }
        @media (min-width: $ar-big-size){
          h3{
            margin: 0;
            font-size: 1.3em;
          }
          h6{
            text-transform: initial;
            font-size: 0.8em;
            letter-spacing: .3px;
          }
        }
      }
    }

    .ar-car-features{
      padding: 1rem 0;
      width: 53%;
      @media (min-width: $ar-big-size){
        padding: 1.4rem 0;
      }
      .ar-car-features-group{
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media (min-width: $ar-big-size){
          padding: 0 1.4rem;
        }
        .ar-car-feature-item {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;

          h6 {
            color: $ar-color-blue-0;
            margin: 0 0 0 0.4rem;
            font-weight: 500;
            font-size: .85em;
          }

          i {
            font-size: 1em;
            font-weight: 800;
          }

          @media (min-width: $ar-big-size) {
            h6 {
              color: $ar-color-blue-0;
              margin: 0 0 0 0.4rem;
              font-weight: 500;
              font-size: 0.9rem;
            }
            i {
              font-size: 1.2rem;
              font-weight: 800;
            }
          }
        }
      }
    }
  }
  .ar-car-bottom{
    margin: 0;
    @media (min-width: $ar-big-size) {
      height: 300px;
    }
    .ar-car-left{
      width: 47%;
      border-right: solid;
      border-right-color: #ececec;
      border-right-width: thin;
      padding: 1rem 0;
      @media (min-width: $ar-big-size){
        padding: 1.4rem 0;
      }
      .ar-car-image{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .ar-car-rate{
          margin-bottom: 0.5rem;
          margin-left: 1rem;
          font-size: 0.5rem;
          @media (min-width: $ar-big-size){
            margin-bottom: 0.7rem;
            margin-left: 1.4rem;
            font-size: 0.9em;
          }
        }
        img{
          width: 100%;
          margin-top: 15px;
          max-height: 110px;
          @media (min-width: $ar-big-size){
            width: 100%;
            max-height: 140px;
          }
        }
        .ar-car-featured{
          padding-bottom: 1.3rem;
          margin-left: -1rem;
          text-align: left;
          .ar-car-featured-label-empty{
            height: 2rem;
          }
          .ar-car-featured-label{
            font-size: 0.7rem;
            font-weight: 700;
            color: $ar-color-white-0;
            background-color: $ar-color-yellow-0;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            padding:0.4rem 1.5rem 0.4rem 0.625rem ;
            span{
              color: $ar-color-yellow-1;
              font-size: 0.8rem;
            }
            @media (min-width: $ar-big-size){
              font-size: 0.9rem;
              font-weight: 700;
              color: $ar-color-white-0;
              background-color: $ar-color-yellow-0;
              border-top-right-radius: 2rem;
              border-bottom-right-radius: 2rem;
              padding:0.45rem 2rem 0.45rem 1rem ;
              span{
                color: $ar-color-yellow-1;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
      .ar-car-data{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ar-car-data-text{
          margin-top: 0.5rem;
          padding-right: 0.5rem;
          @media (min-width: $ar-big-size){
            h6{
              font-size: 1em;
              margin-top: 0.5rem;
              padding-right: 0.5rem;
              font-weight: 500;
            }
          }
        }
        .ar-car-data-button-container{
          margin-bottom: 1rem;
          @media (min-width: $ar-big-size){
            margin-bottom: 1.4rem;
          }
          .ar-car-data-button{
            width: 100%;
            font-size: 0.75em;
            font-weight: 700;
            background-color: $ar-color-white-0;
            border-color: $ar-color-green-0;
            border-width: 2px;
            color: $ar-color-green-0;
            text-align: center;
            @media (min-width: $ar-big-size){
              text-align: center;
              width: 100%;
              font-size: 0.9rem;
              font-weight: 700;
              background-color: $ar-color-white-0;
              border-color: $ar-color-green-0;
              border-width: 2px;
              color: $ar-color-green-0;
            }
          }
        }
      }
    }
    .ar-car-right{
      width: 53%;
      .ar-car-chevron{
        position: absolute;
        width: calc(53% + 1rem);
        margin-left: - 1rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.5rem;
        @media (min-width: $ar-big-size){
          margin-left: - 1.8rem;
        }
        span{
          padding: 0.65rem;
          border-radius: 50%;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
          -moz-box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
          box-shadow: 0px 0px 5px 0px #b0b0b059;
          margin-right: -1rem;
          background-color: $ar-color-white-0;
          z-index: 50;
          @media (min-width: $ar-big-size){
            padding: 0.9rem;
            font-size: 0.7rem;
            margin-right: -1.8rem;
          }
          &.ar-price-enabled{
            color: $ar-color-white-0;
            cursor: pointer;
            background-color: $ar-color-red-0;
          }
        }
      }
    }
  }
}

.ar-car-price-container{
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  justify-content: center;
  @media (min-width: $ar-big-size) {
    padding: 0 1rem;
  }
  .ar-car-price{
    padding: 1rem 0.75rem;
    z-index: 10;
    @media (min-width: $ar-big-size) {
      padding: 1.1em 0.9em;
    }
    .ar-car-price-title{
      font-size: 0.8rem;
      font-weight: 600;
      color: $ar-color-gray-2;
      vertical-align: center;
      padding: 1rem 0;
      @media (min-width: $ar-big-size) {
        h4{
          font-size: 1rem;
        }
        padding: 1.45rem 0;
      }
    }
    .ar-car-price-body{
      padding:  0 0 1rem 0 ;
      @media (min-width: $ar-big-size) {
        padding:  0 0 1.5rem 0;
      }
      .ar-car-price-details{
        cursor: pointer;
        margin: 1rem 0 0.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          margin: 0;
          font-size: 0.8em;
          font-weight: 600;
          color: $ar-color-red-0;
          @media (min-width: $ar-big-size) {
            margin: 0.4rem 0 0 0;
            font-size:0.85em;
            font-weight: 600;
          }
        }
      }
      .ar-car-price-price{
        font-weight: 700;
        color: $ar-color-red-0;
        margin-bottom: 0.25rem;
        @media (min-width: $ar-big-size) {
          font-size: 2.1rem !important;
          margin-bottom: 0.4em;
        }
        &:before{
          margin-right: 0.4rem;
          font-size: 0.8rem;
          font-weight: 600;
          color: $ar-color-gray-2;
          vertical-align: middle;
          content:"USD ";
          @media (min-width: $ar-big-size) {
            font-size: 1rem;
          }
        }
      }
      .ar-car-price-button{
        font-size: 0.7rem;
        font-weight: 700;
        width: 85%;
        @media (min-width: $ar-big-size) {
          font-size: .75em;
          padding-bottom: 11px;
          font-weight: 700;
          width: 75%;
        }
      }
    }
  }
}

.ar-car-selected{
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  @media (min-width: $ar-big-size){
    margin-bottom: 1.5rem;
  }
  .ar-car-top{
    border-bottom: solid;
    border-bottom-color: $ar-color-white-7;
    border-bottom-width: thin;
    margin: 0;
    height: 80px;
    @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
      height: 70px;
    }
    @media (min-width: $ar-big-size){
      height: 105px;
    }
    .ar-car-company-logo{
      display: flex;
      border-right: solid;
      border-right-color: $ar-color-white-7;
      border-right-width: thin;
      padding-right: 1rem;
      width: 27%;
      img{
        margin: auto;
        width: 40%;
      }
    }
    .ar-car-data-left{
      display: flex;
      align-items: center;
      width: 47%;
      padding: 1.5rem 2rem 1.5rem 1.5rem;
    }
    .ar-car-data-right{
      display: flex;
      align-items: center;
      width: 26%;
      padding: 1rem;
      margin-left: -0.5rem;
    }
    .ar-data-icon{
      display: flex;
      font-size: 0.7rem;
      &:before{
        margin-top: 0.2rem;
      }
    }
    p{
      font-size: 0.7rem;
      line-height: normal;
      margin-bottom: 0;
      font-weight: 500;
    }
    @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
      .ar-car-data-left{
        padding: 1.3rem 2rem 1.3rem 1.5rem;
      }
      .ar-car-data-right{
        padding: 1rem;
        margin-left: -0.5rem;
      }
      .ar-data-icon{
        font-size: 0.6rem;
        &:before{
          margin-top: 0.1rem;
        }
      }
      p{
        font-size: 0.6rem;
      }
    }
    @media (min-width: $ar-big-size){
      .ar-car-data-left{
        padding: 1.5rem 2rem 1.5rem 1.9rem;
      }
      .ar-car-data-right{
        padding: 0.8rem;
        margin-left: -0.5rem;
      }
      p{
        font-size: 0.85rem;
        margin-top: 0.5rem;
        padding-right: 0.5rem;
        font-weight: 500;
      }
      .ar-data-icon{
        display: flex;
        font-size: 0.9rem;
        &:before{
          margin-top: 0.8rem;
        }
      }
    }
  }

  .ar-car-bottom{
    margin: 0;
    padding: 1rem 0 0 0;
    height: 148px;
    @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
      height: 137px;
    }
    @media (min-width: $ar-big-size){
      height: 190px;
    }
    .ar-car-bottom-left{
      width: 67%;
      .ar-car-type{
        margin-top: 0.4rem;
        padding-left: 1rem;
        width: 55%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        h3{
          margin: 0;
          font-size: 1rem;
        }
        h6{
          text-transform: capitalize;
          margin: 0.1rem 0 0.1rem 2.1rem;
        }
        .ar-car-type-key{
          color: $ar-color-red-0;
          &:before{
            font-size: 1.1rem;
            transform: rotate(40deg);
            margin-right: 12px;
            position: relative;
            top: 3px;
          }
        }
        @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
          padding-left: 0.8rem;
          h3{
            margin-top: 0.1rem;
            font-size: 0.9rem;
          }
          h6{
            font-size: 0.55rem;
            margin: 0.1rem 0 0.1rem 2rem;
          }
          .ar-car-type-key{
            color: $ar-color-red-0;
            &:before{
              font-size: 1rem;
              transform: rotate(40deg);
              margin-right: 12px;
              position: relative;
              top: 3px;
            }
          }
        }
        @media (min-width: $ar-big-size){
          h3{
            margin-top: 0.3rem;
            font-size: 1.3rem;
          }
          h6{
            font-size: 0.8rem;
            margin: 0.1rem 0 0.1rem 2.9rem;
          }
          .ar-car-type-key{
            color: $ar-color-red-0;
            &:before{
              font-size: 1.5rem;
              transform: rotate(40deg);
              margin-right: 16px;
              position: relative;
              top: 7px;
            }
          }
        }
      }
      .ar-car-features{
        margin: 1rem 0;
        padding-left: 1.8rem;
        @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
          margin: 1rem 0;
          padding-left: 1.5rem;
        }
        @media (min-width: $ar-big-size){
          margin: 1.5rem 0;
          padding-left: 2.7rem;
        }
        .ar-car-features-group{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 1rem;
          padding-right: 1rem;
          .ar-car-feature-item{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: auto;
            width: 100%;
            h6{
              color: $ar-color-blue-0;
              margin: 0 0 0 0.4rem;
              font-size: 0.68rem;
              font-weight: 500;
            }
            i{
              font-size: 1em;
            }
            @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
              margin-bottom: 0.1rem;
              h6{
                margin: 0 0 0 0.3rem;
                font-size: 0.6rem;
              }
              i{
                font-size: 1em;
              }
            }
            @media (min-width: $ar-big-size){
              margin-bottom: 0.1rem;
              h6{
                margin: 0 0 0 0.6rem;
                font-size: 0.85em;
              }
              i{
                font-size: 1em;
              }
            }
          }
        }
      }
    }
    .ar-car-image{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 33%;
      img{
        width: 100%;
      }
    }
  }
}

.ar-card-filters{
  @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
    width: 200px;
  }
  @media (min-width: $ar-normal-size) and (max-width: $ar-big-size){
    width: 240px;
  }
  @media (min-width: $ar-big-size){
    width: 300px;
  }
}

.ar-card-promotion-container{
  display: flex;
  flex-direction: row;
  .ar-card-promotion-image-container{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    width: 32.3%;
    .ar-card-promotion-image{
      width: 100%;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    .ar-card-promotion-logo{
      position: absolute;
      width: 7.3%;
      left: 1.5%;
      top: 5%;
    }
  }
  .ar-card-promotion-data{
    padding: 2.15rem 1.6rem 1rem 2.1rem;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 67%;
    background-color: $ar-color-white-0;
    h3{
      font-size: 1.4em;
      color: $ar-color-red-0;
    }
    h5{
      padding: 0.2rem 0 0 0;
      b{
        color: $ar-color-red-0;
        font-weight: 600;
      }
    }
    h6{
      font-size: 0.9em;
      font-weight: 500;
      margin: 1rem 0;
      &.ar-card-promotion-miles{
        margin: 0.2rem 0;
        strong{
          color: $ar-color-red-0;
          i{
            font-size: 0.8em;
            font-weight: 900;
          }
        }
      }
    }
    .ar-card-promotion-data-small-letter{
      p{
        margin-top: 1rem;
        font-size: 0.7em;
        line-height: normal;
        font-weight: 500;
      }
    }
    @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
      padding: 2rem 1.5rem 1rem 2.1rem;
      h3{
        font-size: 1.1rem;
      }
      h6{
        font-size: 0.7rem;
        margin: 0.8rem 0;
        &.ar-card-promotion-miles{
          margin: 0.15rem 0;
          strong{
            color: $ar-color-red-0;
            i{
              font-size: 0.7em;
              font-weight: 900;
            }
          }
        }
      }
      .ar-card-promotion-data-small-letter{
        margin-top: 0.8rem;
        p{
          margin-top: 1rem;
          font-size: 0.6rem;
          margin-bottom: 0;
        }
      }
    }
    @media (min-width: $ar-big-size){
      padding: 2.8rem 2.6rem 1.5rem 2.9rem;
      h3{
        font-size: 1.65rem;
      }
      h5{
        padding: 0.4rem 0 0 0;
        font-size: 1.05rem;
        line-height: 1.8rem;
        b{
          font-weight: 600;
        }
      }
      h6{
        font-size: 1rem;
        margin: 1.25rem 0;
        &.ar-card-promotion-miles{
          margin: 0.2rem 0;
          strong{
            font-weight: 600;
            i{
              font-size: 0.8em;
            }
          }
        }
      }
      .ar-card-promotion-data-small-letter{
        p{
          margin-top: 1rem;
          font-size: 0.875rem;
          font-weight: 500;
        }
      }
    }
  }
}

.ar-location-selected{
  width: 48.8%;
  height: 208px;
  margin-bottom: 1rem;
  @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
    height: 195px;
  }
  @media (min-width: $ar-big-size){
    height: 275px;
  }
  .ar-location-top{
    margin: 1rem;
    .ar-location-icon{
      margin-right: 0.65rem;
      color: $ar-color-red-0;
      font-size: 1rem;
    }
    .ar-location-date{
      font-size: 0.85rem;
      margin:0;
      font-weight: 500;
    }
    .ar-location-place{
      font-size: 0.6rem;
      margin:0;
      font-weight: 500;
    }
    h5{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        color: $ar-color-red-0;
        text-transform: uppercase;
        font-size: 0.7rem;
    }
    @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
      margin: 0.8rem;
      .ar-location-icon{
        margin-right: 0.65rem;
        font-size: 0.95rem;
      }
      .ar-location-date{
        font-size: 0.8rem;
        margin:0;
        font-weight: 500;
      }
      .ar-location-place{
        font-size: 0.55rem;
        margin:0;
        font-weight: 500;
      }
      h5{
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 0.65rem;
      }
    }
    @media (min-width: $ar-big-size){
      margin: 1.2rem;
      .ar-location-icon{
        margin-right: 0.8rem;
        font-size: 1.2em;
      }
      .ar-location-date{
        font-size: 1.15rem;
        margin:0;
        font-weight: 500;
      }
      .ar-location-place{
        font-size: 0.75rem;
        margin:0;
        font-weight: 500;
      }
      h5{
        margin-top: .4rem;
        margin-bottom: .4rem;
        font-size: .75rem;
        letter-spacing: .5px;
      }
    }

  }
  .ar-location-bottom{
    margin: 0;
    .map-canvas{
      height: 100px;
    }
    @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
      .map-canvas{
        height: 95px;
      }
    }
    @media (min-width: $ar-big-size){
      padding: 0 0.4rem;
      .map-canvas{
        height: 130px;
      }
    }
  }
}

.ar-optional-equipment{
  padding: 1rem 1.5rem 1rem 3rem;
  margin-bottom: 1rem;
  .ar-title-with-icon{
    margin: 0 0.3rem 1rem -1.5rem;
    color: $ar-color-red-0;
    font-size: 0.75em;
    letter-spacing: .5px;
    font-weight: 600;
    text-transform: uppercase;
    &:before{
      font-size: 1.1rem;
      position: relative;
      top: 0.2rem;
      left: -0.5rem;
    }
  }
  .ar-text-card{
    font-size: 0.65rem;
    margin-bottom: 1rem;
  }
  .ar-options-section-card{
    display: flex;
    justify-content: space-between;
    .ar-checkbox-options-container{
      width: 50%;
      padding-right: 3.5rem;
      .ar-optional-equipment-checkbox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.6rem;
        .ar-optional-item{
          font-size: 0.6rem;
          margin-bottom: 0.8rem;
          &:before{
            width: 0.8rem;
            height: 0.8rem;
            top: 0.05rem;
          }
          &:after{
            top:0;
            left: -1.8rem;
          }
          strong{
            color: $ar-color-red-0;
            font-weight: 600;
            font-size: 0.68rem;
            letter-spacing: normal;
          }
        }
      }
    }
    .ar-select-options-container{
      width: 50%;
      padding-left: 1.25rem;
      padding-right: 0.75rem;
      .ar-select-option{
        border: 1.5px solid $ar-color-white-5;
        padding: 0;
        .ar-select-selected{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.15rem 0.5rem 0.15rem 0.8rem;
          font-size: 0.7rem;
          font-weight: 400;
          span{
            margin-left: 0.35rem;
            font-size: 0.5rem;
          }
        }
      }
      .ar-select-description{
        font-size: 0.6rem;
        margin:0 0 0 0.8rem;
      }
      .ar-optional-item{
        font-size: 0.6rem;
        margin:0 0 0 0;

        strong{
          color: $ar-color-red-0;
          font-weight: 600;
          font-size: 0.68rem;
          letter-spacing: normal;
        }
      }
    }
  }
  @media (min-width: $ar-big-size){
    padding: 1.4rem 2rem 0.7rem 4.2rem;
    .ar-title-with-icon{
      margin: 0 0.3rem 1.25rem -2.1rem;
      font-size: 0.9rem;
      &:before{
        font-size: 1.4rem;
        top: 0.3rem;
        left: -0.8rem;
      }
    }
    .ar-text-card{
      font-size: 0.85rem;
      margin-bottom: 1.4rem;
    }
    .ar-options-section-card{
      .ar-checkbox-options-container{
        padding-right: 4.8rem;
        .ar-optional-equipment-checkbox{
          font-size: 1rem;
          .ar-optional-item{
            font-size: 0.85rem;
            margin-bottom: 1.15rem;
            &:before{
              width: 1rem;
              height: 1rem;
              top: 0.15rem;
            }
            &:after{
              top:0.2rem;
              left: -1.7rem;
            }
            strong{
              font-size: 0.85rem;
            }
          }
        }
      }
      .ar-select-options-container{
        width: 50%;
        padding-left: 1.25rem;
        padding-right: 1.5rem;
        .ar-select-option{
          border: 2px solid $ar-color-white-5;
          padding: 0;
          .ar-select-selected{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2rem 0.65rem 0.25rem 1.1rem;
            font-size: 0.85rem;
            font-weight: 400;
            span{
              margin-top: 0.3rem;
              margin-left: 0.55rem;
              font-size: 0.7rem;
            }
          }
        }
        .ar-select-description{
          font-size: 0.85rem;
          margin:0 0 0 0.8rem;
        }
        .ar-optional-item{
          font-size: 0.85rem;
          margin:0 0 0 0;

          strong{
            color: $ar-color-red-0;
            font-size: 0.85rem;
            letter-spacing: normal;
          }
        }
      }
    }
  }
}

.ar-client-type-card{
  height: 125px;
  padding: 1rem 1.5rem 1rem 3rem;
  .ar-title-with-icon{
    margin: 0 0.3rem 1rem -1.5rem;
    color: $ar-color-red-0;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    &:before{
      font-size: 1.1rem;
      position: relative;
      top: 0.2rem;
      left: -0.5rem;
    }
  }
  .ar-select-client-type-container{
    width: 31%;
    margin-left: -0.25rem;
    padding-top: 0.3rem;
    .ar-select-button{
      padding: 0.55rem 1.1rem;
      border: solid;
      border-width: 1.5px;
      border-color: $ar-color-white-4;
      background-color: $ar-color-white-1;
      &:active{
        border-color: $ar-color-white-4;
        background-color: $ar-color-white-1;
      }
    }
    .ar-client-type-select{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 0.6rem;
      font-weight: 500;
      span{
        font-size: 0.8em;
        font-weight: 900;
        margin-right: -0.2rem;
        margin-top: -0.035rem;
      }
    }
  }
  @media (min-width: $ar-big-size) {
    height: 180px;
    padding: 1.4rem 2rem 0.7rem 4.2rem;
    .ar-title-with-icon {
      margin: 0 0.3rem 1.25rem -2.1rem;
      font-size: 0.9rem;

      &:before {
        font-size: 1.4rem;
        top: 0.3rem;
        left: -0.8rem;
      }
    }
  }
}