.ar-filters-collapse{
  h5{
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  @media (max-width: $ar-small-size){
    padding-top: 20px;
  }
  @media (min-width: $ar-normal-size) and (max-width: $ar-big-size){
    h5{
      font-size: 0.75rem;
    }
  }
  @media (min-width: $ar-big-size){
    h5{
      font-size: 0.75em;
      letter-spacing: .2px;
      font-weight: 700;
    }
  }
  border-radius: 0 !important;
  .ar-filter-title{
    border-radius: 0 !important;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    margin-bottom: 0;
    color: $ar-color-blue-0;
  }
  .ar-filter-items{
    color: $ar-color-gray-2;
    white-space: pre;
    font-size: 0.8rem !important;
    padding-top: 0.1rem;
    @media (min-width: $ar-normal-size) and (max-width: $ar-big-size){
      font-size: 0.8rem !important;
      padding-top: 0.1rem;
    }
    @media (min-width: $ar-big-size){
      font-size: 0.9rem !important;
      padding-top: 0rem;
    }
  }
}

.ar-filter-main-title{
  color: $ar-color-blue-0;
  font-weight: 600;
  @media(max-width: $ar-mobile-size){
    i{
      cursor: pointer;
    }
  }
  @media (min-width: $ar-normal-size) and (max-width: $ar-big-size){
    font-size: 1em;
  }
  @media(min-width: $ar-big-size){
    font-size: 1em;
  }
}

.ar-faq-collapse{
  .ar-faq-collapse-main-titles{
    margin: 2rem 2.5rem;
    h1{
      color: $ar-color-red-0;
      font-size: 1.5rem;
    }
    h6{
      font-size: .9rem;
    }
  }
  .ar-faq-collapse-options-container{
    margin: 0 2.5rem;
  }

}

.ar-filter-button{
  @media(max-width: $ar-small-size){
    margin: auto;
    font-size: .7em;
    border: 2px solid #7fccbc;
    border-radius: 30px !important;
    height: auto;
    padding: 0.65em 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #7fccbc;
    font-weight: bold;
    background-color: transparent;
    &:hover, &:active, &:focus{
      margin: auto;
      font-size: .7em;
      border: 2px solid #7fccbc;
      border-radius: 30px !important;
      height: auto;
      padding: 0.65em 0;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: #7fccbc;
      font-weight: bold;
      background-color: transparent;
    }
  }
}