.ar-container-navbar{
  @media (min-width: 1200px){
    max-width: 77%;
  }
}

.bg-ar-navbar{
  background-color: $ar-color-white-2;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 40);
}

.ar-nav-link-blue{
  color: $ar-color-blue-0;
  font-weight: 500;
  margin: 0 !important;
  font-size: .95em;
  letter-spacing: 0.1px;
  &:hover{
    color: $ar-color-red-0 !important;
  }
}

.ar-nav-link-red{
  color: $ar-color-red-0;
  font-size: .95em;
}

.ar-nav-link{
  padding-left: 0.6em !important;
  padding-right: 0.6em !important;
  font-size: 0.750rem !important;
  white-space: pre;
  &:hover{
    cursor: pointer;
  }
  @media (min-width: 1500px) {
    font-size: 0.9em !important;
  }
}

.ar-nav-button-link{
  display: flex !important;
  .ar-nav-button{
    white-space: pre;
    margin-top: auto;
    padding-bottom: 15px;
    margin-bottom: auto;
    font-size: 0.9em;
    padding-right: 1.4em;
    letter-spacing: .2px;
    margin-right: 1em;
    height: 42px;
    padding-top: 8px;
  }
}

.ar-nav-link-icon-button{
  width: 1rem;
}

.ar-nav-brand{
    height: 40px !important;
  @media (min-width: 1400px) {
    height: 50px !important;
  }
}

.ar-button-flag{
  .ar-dropdown-menu{
    transform: translate3d(7px, 50px, 0px) !important;
    min-width: 4.5rem;
    max-width: 8rem;
    font-size: 1em;
    &::before{
      display: none !important;
    }
    .ar-dropdown-item{
      display: flex;
      justify-content: center;
    }
  }
}

.ar-language{
  font-size: 1.2em;
}