.ar-banner{
  height: 100px;
  margin-top: 30px;
  .ar-banner-container{
    height: 100%;
  }
}

.ar-banner-text-container{
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 0;
  @media (min-width: $ar-small-size) and (max-width: $ar-normal-size) {
    h3{
      font-size: 0.95rem;
    }
  }
  @media (min-width: $ar-normal-size) and (max-width: $ar-big-size) {
    h3{
      font-size: 1rem;
    }
  }
  @media (min-width: $ar-big-size) {
    h3{
      font-size: 1.3rem;
    }
  }
}

.ar-banner-logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-right: 0;
  width: 25%;
  @media (min-width: $ar-small-size) and (max-width: $ar-normal-size) {
    h3{
      font-size: 0.95rem;
    }
    img{
      width: 45%;
    }
  }
  @media (min-width: $ar-normal-size) and (max-width: $ar-big-size) {
    h3{
      font-size: 1rem;
    }
    img{
      width: 45%;
    }
  }
  @media (min-width: $ar-big-size) {
    h3{
      font-size: 1.3rem;
    }
    img{
      width: 45%;
    }
  }
}

.ar-app-logo-container{
  display: flex;
  width: 20%;
  align-items: flex-end;
  div{
    position: absolute;
  }
  .ar-app-logo{
    width: 95%;
  }
  @media (min-width: $ar-big-size) {
    .ar-app-logo{
      width: 80%;
    }
    div{
      display: flex;
      justify-content: center;
      position: absolute;
    }
  }
}

.ar-search-banner{
  background-color: $ar-color-white-0;
  @media (min-width: $ar-big-size) {
    h3{
      font-size: 1.3rem;
    }
  }
  .ar-modify-button{
    font-size: 0.7rem;
    @media (min-width:$ar-big-size) {
      font-size: 0.9rem;
    }
  }
  .ar-search-date-and-place{
    margin: 5px;
    display: flex;
    align-items: center;
    .ar-search-icon{
      margin-right: 20px;
      color: $ar-color-red-0;
    }
    .ar-search-date{
      font-size: 0.9rem;
      margin:0;
      font-weight: 600;
    }
    .ar-search-place{
      font-size: 0.6rem;
      margin:0;
      font-weight: 600;
    }
    @media (min-width: $ar-big-size){
      .ar-search-icon{
        margin-right: 20px;
        color: $ar-color-red-0;
        font-size: 1.3rem;
      }
      .ar-search-date{
        font-size: 1.1rem;
        margin:0;
        font-weight: 600;
      }
      .ar-search-place{
        font-size: 0.8rem;
        margin:0;
        font-weight: 600;
      }
    }
  }

}