.ar-dropdown-menu-overflow{
  height: 300px;
  overflow-y: scroll;
}

.ar-dropdown-menu-age{
  transform: translate3d(25px, 50px, 0px) !important;
  min-width: 4rem;
}

.ar-dropdown-menu-car-type{
  transform: translate3d(25px, 50px, 0px) !important;
  min-width: 11rem;
}

.ar-dropdown-chevron{
  margin-top: 0.5em;
}
