.ar-circle{
  font-size: 0.9rem;
  color: $ar-color-white-0;
  font-weight: bolder;
  text-align: center;
  border: solid;
  border-width: 0.4rem;
  border-radius: 50px;
  border-color: $ar-color-white-3;
  width: 2.3rem;
  height: 2.3rem;
  display: block;
  &.ar-done{
    background-color: $ar-color-blue-2;
  }
  &.ar-active{
    background-color: $ar-color-red-0;
  }
  &.ar-pendant{
    background-color: $ar-color-light-blue-0;
  }
}



.ar-bar{
  margin-top: -1.9rem;
}

.ar-title-bar{
  margin-bottom: 2px;
  padding-left: 12%;
  font-size: 0.9rem;
  font-weight: bold;
  &.ar-steps-header{
    margin-bottom: -8px;
  }
  @media (max-width: 520px) {
    font-size: 0.7rem;
    text-align: center;
    padding-left: 30%;
    padding-right: 6%;
  }
}

.ar-steps-bar{

  @media (max-width: 520px) {
    margin-top: 15px;
  }
}