.ar-filters-collapse{
  h5{
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
    h5{
      font-size: 0.65rem;
    }
  }
  @media (min-width: $ar-normal-size) and (max-width: $ar-big-size){
    h5{
      font-size: 0.75rem;
    }
  }
  @media (min-width: $ar-big-size){
    h5{
      font-size: 0.9rem;
    }
  }
  border-radius: 0 !important;
  .ar-filter-title{
    border-radius: 0 !important;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    margin-bottom: 0;
    color: $ar-color-blue-0;
  }
  .ar-filter-items{
    color: $ar-color-gray-2;
    white-space: pre;
    font-size: 0.8rem !important;
    padding-top: 0.1rem;
    @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
      font-size: 0.6rem !important;
      padding-top: 0.25rem;
    }
    @media (min-width: $ar-normal-size) and (max-width: $ar-big-size){
      font-size: 0.8rem !important;
      padding-top: 0.1rem;
    }
    @media (min-width: $ar-big-size){
      font-size: 0.9rem !important;
      padding-top: 0rem;
    }
  }
}

.ar-filter-main-title{
  color: $ar-color-blue-0;
  font-weight: 600;
  @media (min-width: $ar-small-size) and (max-width: $ar-normal-size){
    font-size: 0.9rem;
  }
  @media (min-width: $ar-normal-size) and (max-width: $ar-big-size){
    font-size: 1.1rem;
  }
  @media(min-width: $ar-big-size){
    font-size: 1.25rem;
  }
}

