.ar-card-header{
  margin-bottom: -2rem;
  z-index: 5;
  white-space: pre;

}

.ar-card-title{
  font-size: 14px;
  padding: 0;
  font-weight: 600;

  @media (min-width: 1200px) and (max-width: 1471px) {
    font-size: 13px;
    margin-bottom: 0.8rem;
  }

  @media (min-width: 1471px) and (max-width: 1750px) {
    font-size: 15px;
  }

  @media (min-width: 1751px){
    font-size: 18px;
    padding: 0 10px 0 10px;
  }
}

.ar-card-image{
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  .ar-image{
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .ar-logo{
    border-radius: 10px;
    background-color: #ffffff;
    width: 28%;
    position: absolute;
    top: 4%;
    left: 4%;
  }
  .ar-border-image-offer{
    width: 100%;
    padding-bottom: 12%;
    position: absolute;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -5%;
      width: 120%;
      height: 100%;
      background-color: $ar-color-white-0;
      transform-origin: 0 100%;
      transform: rotate(6deg);
    }
  }
}

.ar-card-body-offer{
  padding: 1.8rem 1.8rem 1.8rem 1.8rem;

  @media (min-width: 1200px) and (max-width: 1471px) {
    padding: 1.8rem 1.8rem 1.4rem 1.8rem;
  }

  @media (min-width: 1700px){
    padding: 1.8rem 1.8rem 2.2rem 1.8rem;
  }
}

.ar-car-result{
  border-radius: 0.5rem;
  .ar-car-top{
    border-bottom: solid;
    border-bottom-color: $ar-color-white-7;
    border-bottom-width: thin;
    margin: 0;
    .ar-car-top-left{
      display: flex;
      height: 100%;
      .ar-car-company-logo{
        width: 45%;
        border-right: solid;
        border-right-color: $ar-color-white-7;
        border-right-width: thin;
        padding-right: 1rem;
        img{
          width: 100%;
          margin: 0.7rem  0;
        }
      }
      .ar-car-type{
        padding-left: 2rem;
        width: 55%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        h3{
          margin: 0;
        }
      }
    }

    .ar-car-features{
      margin: 1rem 0;
      padding-left: 0;
      .ar-car-features-group{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .ar-car-feature-item{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: auto;
          width: 100%;
          h6{
            color: $ar-color-blue-0;
            margin: 0 0 0 0.4rem;
          }
          img{
            width: 1rem;
            margin-right: 0.3rem;
          }
        }
      }
    }
  }
  .ar-car-bottom{
    .ar-car-left{
      border-right: solid;
      border-right-color: $ar-color-white-7;
      border-right-width: thin;
      padding: 1rem 0;
      .ar-car-image{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        img{
          width: 100%;
        }
        .ar-car-featured{
          padding-bottom: 1rem;
          margin-left: -1rem;
          text-align: left;
          .ar-car-featured-label-empty{
            height: 2rem;
          }
          .ar-car-featured-label{
            font-size: 0.75rem;
            font-weight: 700;
            color: $ar-color-white-0;
            background-color: $ar-color-yellow-0;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            padding:0.625rem 1.25rem 0.625rem 0.625rem ;
            span{
              color: $ar-color-yellow-1;
            }
          }
        }
      }
      .ar-car-data{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .ar-car-data-text{
          margin-top: 0.5rem;
          padding: 0.5rem;
        }
        .ar-car-data-button{
          margin-bottom: 1rem;
          font-size: 0.75rem;
          font-weight: 700;
          margin-left: -1rem;
          background-color: $ar-color-white-0;
          border-color: $ar-color-green-0;
          border-width: 3px;
          color: $ar-color-green-0;
        }
      }
    }
    .ar-car-right{
      .ar-car-chevron{
        position: absolute;
        width: calc(100% + 1rem);
        margin-left: - 2rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.5rem;
        span{
          padding: 0.5rem;
          border-radius: 50%;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
          -moz-box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
          box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
          margin-right: -0.8rem;
          background-color: $ar-color-white-0;
          &.ar-price-enabled{
            color: $ar-color-white-0;
            cursor: pointer;
            background-color: $ar-color-red-0;
          }
        }
      }
    }
  }
}

.ar-car-price{
  margin: 0.5rem 0;
  z-index: 10;
  .ar-car-price-title{
    font-size: 0.8rem;
    font-weight: 600;
    color: $ar-color-gray-2;
    vertical-align: center;
    padding: 1rem 0;
  }
  .ar-car-price-body{
    padding:  0 0 1rem 0 ;
    .ar-car-price-details{
      cursor: pointer;
      margin: 1rem 0 0.25rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        margin: 0;
        font-size: 0.75rem;
        font-weight: 600;
        color: $ar-color-red-0;
      }
      img{
        margin-right: 0.5rem;
        width: 1rem;
      }
    }
    .ar-car-price-price{
      font-weight: 700;
      color: $ar-color-red-0;
      margin-bottom: 0.25rem;
      &:before{
        margin-right: 0.4rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: $ar-color-gray-2;
        vertical-align: middle;
        content:"USD "
      }
    }
    .ar-car-price-button{
      font-size: 0.75rem;
      font-weight: 700;
      width: 85%;
    }
  }
}

.ar-car-selected{
  border-radius: 0.5rem;
  .ar-car-top{
    border-bottom: solid;
    border-bottom-color: $ar-color-white-7;
    border-bottom-width: thin;
    margin: 0;

    p{
      font-size: 0.7rem;
      line-height: normal;
      margin-bottom: 0;
      font-weight: 500;
    }

    .ar-car-company-logo{
      display: flex;
      border-right: solid;
      border-right-color: $ar-color-white-7;
      border-right-width: thin;
      padding-right: 1rem;
      width: 27%;
      img{
        margin: auto;
        width: 40%;
      }
    }
    .ar-car-data-left{
      display: flex;
      align-items: center;
      width: 47%;
      padding: 1.5rem 2rem 1.5rem 1.5rem;
    }
    .ar-car-data-right{
      display: flex;
      align-items: center;
      width: 26%;
      padding: 1rem;
    }
    .ar-data-icon{
      display: flex;
      font-size: 0.7rem;
      &:before{
        margin-top: 0.2rem;
      }
    }
  }

  .ar-car-bottom{
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    .ar-car-bottom-left{
      width: 67%;
      .ar-car-type{
        padding-left: 2rem;
        width: 55%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        h3{
          margin: 0;
        }
        .ar-car-type-key{
          color: $ar-color-red-0;
        }
      }
      .ar-car-features{
        margin: 1rem 0;
        padding-left: 2rem;
        .ar-car-features-group{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 1rem;
          padding-right: 1rem;
          .ar-car-feature-item{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: auto;
            width: 100%;
            h6{
              color: $ar-color-blue-0;
              margin: 0 0 0 0.4rem;
            }
            img{
              width: 1rem;
              margin-right: 0.3rem;
            }
          }
        }
      }
    }
    .ar-car-image{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 33%;
      img{
        width: 100%;
      }
    }
  }
}