.ar-header-image{
  margin-top: -7vw;
  @media (max-width: $ar-mobile-size){
    margin-top: 0;
  }
}

.ar-custom-tag-carousel{
  min-height: 250px;
  @media (max-width: $ar-mobile-size){
    height: 72vw !important;
    &.ar-promotion-header{
      height: 40vw !important;
    }
    img {
      height: 100%;
      width: auto !important;
    }
  }
  @media (min-width: $ar-mobile-size) and (max-width: $ar-small-size){
    &.ar-promotion-header{
      height: 40vw !important;
    }
    img {
      width: 100%;
    }
  }
  @media (min-width: 751px) and (max-width: $ar-small-size){
    min-height: 200px;
  }
}

.ar-offer-carousel{
  margin: 3.5rem 0 0 0;
  @media (max-width: $ar-mobile-size){
    margin-top: 3rem;
  }
  @media (min-width: $ar-mobile-size) and (max-width: $ar-small-size){
    width: 88%;
    max-width: 870px;
  }
  .custom-tag {
    @media (max-width: $ar-small-size){
      height: 100% !important;
      img {
        height: 100%;
      }
    }
  }
}

.ar-carousel-header-border{
  height: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  .ar-carousel-border-left, .ar-carousel-border-right{
    background-color: $ar-color-blue-2;
    width: calc(50% - 450px);
    //@media (min-width: $ar-small-size){
    //  width: calc(50% - 450px);
    //}
  }
  .ar-carousel-border-center{
    width: 900px;
    background-color: $ar-color-blue-9;
    @media (max-width: $ar-mobile-size){
      height: 20px;
    }
  }
}

.ar-price-active{
  height: auto;
}

.ar-carousel-header-container{
  height: 25vw;
  min-height: 250px;
  @media (max-width: $ar-mobile-size){
    height: 72vw !important;
  }
}

.ar-offer-title{
  font-size: 1.1em;
  letter-spacing: .2px;
  font-weight: 700;
  text-transform: uppercase;
}