.ar-pagination-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @media (max-width: $ar-mobile-size){
    margin-bottom: 10px;
  }
  @media (min-width: $ar-big-size) {
    margin: 45px 0 35px 0;
  }
  .ar-active{
    background-color: $ar-color-blue-9;
    border-color: $ar-color-blue-9;
  }
  .ar-inactive{
    background-color: $ar-color-white-6;
    border-color: $ar-color-white-6;
  }
}