.ar-dropdown-menu-overflow{
  max-height: 300px;
  overflow-y: scroll;
  @media (max-width: $ar-mobile-size){
    width: 90vw;
    transform: translate3d(-25px, 50px, 0px) !important;
  }
}

.ar-dropdown-menu-age{
  transform: translate3d(25px, 50px, 0px) !important;
  min-width: 4rem;
}

.ar-dropdown-menu-car-type{
  transform: translate3d(25px, 50px, 0px) !important;
  min-width: 11rem;
  @media (max-width: $ar-mobile-size){
    width: 90vw;
    transform: translate3d(-39vw, 50px, 0px) !important;
  }
}

.ar-dropdown-optional-equipment{
  transform: translate3d(4px, 22px, 0px) !important;
  min-width: 2rem;
  font-size: .8rem;
  @media (min-width: $ar-big-size) {
    font-size: .9rem;
    transform: translate3d(13px, 30px, 0px) !important;
  }
}

.ar-dropdown-chevron{
  margin-top: 0.5em;
}

.ar-dropdown-age-height{
  height: 47px;
  @media (max-width: $ar-mobile-size) {
    height: 38px;
  }
}

.ar-order-by-button{
  margin-bottom: 10px;
  @media (max-width: $ar-mobile-size){
      div {
        font-size: .8em;
        text-align: center;
      }
    .ar-dropdown-value{
      max-width: calc(100% - 1.5rem);
      padding-right: 0.5rem;
    }
    ~ .ar-dropdown{
      transform: translate3d(-45vw, 50px, 0px) !important;
    }
  }
  @media (min-width: $ar-mobile-size) and (max-width: $ar-small-size){
    ~ .ar-dropdown{
      transform: translate3d(-33%, 50px, 0px) !important;
    }
  }
}

.ar-dropdown-chevron-country{
  position: absolute;
  left: 80%;
  font-size: 0.7em;
  margin-top: 0.5em;
  @media (min-width: $ar-big-size){
    font-size: 0.8em;
    left: 82%;
    top: 20%;
  }
}

.ar-dropdown-text-container{
  padding: 0 .8em;
  @media (max-width: $ar-mobile-size){
    padding: 0 .4em;
  }
  .ar-dropdown-text{
    @media (max-width: $ar-mobile-size){
      font-size: .7rem;
      font-weight: 500;
    }
  }
}

.ar-dropdown{
  @media (max-width: $ar-mobile-size){
    width: 80vw;
    transform: translate3d(-50vw, 50px, 0px) !important;
  }
}