.pac-container{
  font-size: 0.8rem;
  margin-top: -1rem;
  font-family: Open Sans, sans-serif;
  position: absolute;
  z-index: 5;
  width: auto !important;
  border: solid;
  border-width: thin;
  border-color: $ar-color-white-3;
  border-radius: 10px;
  box-shadow:0 0 1rem 0 rgba(136, 152, 170, 0.08) !important;
  transform: translate3d(-50px, 20px, 0px) !important;
  &:after{
    display: none;
  }
  .pac-item{
    box-shadow: none;
    border-radius: 0;
    background-color: $ar-color-white-0;
    border: none !important;
    white-space: pre !important;
    margin: 0;
    padding: 0.2rem 0.8rem;

    &:first-child{
      padding-top: 0.4rem;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
    &:last-child{
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      padding-bottom: 0.4rem;
    }
    &:hover{
      background-color: $ar-color-white-1;
      border-color: $ar-color-white-1;
      transform: none !important;
      cursor: pointer;
    }
    .pac-item-query{
      font-size: .9rem !important;
      white-space: pre !important;
    }
    span{
      white-space: pre !important;
    }
  }
}