.ar-round-button{
  border-radius: 100px;
  white-space: pre;
}

.ar-blue-button{
  background-color: $ar-color-blue-4;
  color: $ar-color-white-3;
  &:hover{
    background-color: $ar-color-blue-4;
  }
}

.ar-language-button{
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  color: $ar-color-blue-0;
  padding: 0.45rem 0.5rem;
  &:hover &:active{
    color: $ar-color-blue-0;
    background-color: $ar-color-white-3;
    border-color: $ar-color-white-3;
  }
}

.ar-promo-button{
  color: $ar-color-white-1;
  font-size: 0.8rem;
  white-space: pre;
  &:hover{
    color: $ar-color-white-0;
  }

  &.avis{
    background-color: $ar-color-red-1;
    border-color: $ar-color-red-1;
  }
  &.alamo{
    background-color: $ar-color-blue-1;
    border-color: $ar-color-blue-1;
  }
  &.budget{
    background-color: $ar-color-orange-0;
    border-color: $ar-color-orange-0;

  }
  &.payless{
    background-color: $ar-color-blue-3;
    border-color: $ar-color-blue-3;
  }

  //Mobile
  @media (max-width: 451px){
    font-size: 0.9rem;
  }

  //Normal Monitor
  @media (min-width: 1490px) and (max-width: 1750px) {
    font-size: 0.9rem;
  }

  //Big Monitor
  @media (min-width: 1751px){
    font-size: 0.9rem;
  }
}

.ar-up-to-top-button{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $ar-color-red-0;
  color: $ar-color-white-1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  top: 80vh;
  left: 90vw;
  &:hover{
    cursor: pointer;
  }
}

