.ar-container-navbar{
  max-width: 1380px;
}

.bg-ar-navbar{
  background-color: $ar-color-white-2;
}

.ar-nav-link-blue{
  color: $ar-color-blue-0;
  font-weight: 500;
  &:hover{
    color: $ar-color-red-0 !important;
  }
}

.ar-nav-link-red{
  font-weight: bold;
  color: $ar-color-red-0;
}

.ar-nav-link{
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  font-size: 0.850rem !important;
  margin: auto;

  @media (max-width: 1380px) and (min-width: 1260px) {
    font-size: 0.70rem !important;
  }
}

.ar-nav-button-link{
  display: flex !important;
  .ar-nav-button{
    white-space: pre;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.900rem;
    &.ar-button-blue{
      background-color: $ar-color-blue-4;
    }
  }
}


.ar-nav-link-icon-button{
  width: 1rem;
}

.ar-nav-brand{
  margin: 0.5rem;
  height: 55px !important;
}

.ar-container-nav-link{
  margin: 0.5rem;
}