.ar-card-header{
  margin-bottom: -2rem;
  z-index: 5;
  white-space: pre;

}

.ar-card-title{
  font-size: 14px;
  padding: 0 10px 0 10px;
  font-weight: 600;
  
  @media (min-width: 1471px) and (max-width: 1750px) {
    font-size: 15px;
  }

  @media (min-width: 1751px){
    font-size: 18px;
  }
}

.ar-card-image{
  overflow: hidden;
  display: flex;
  align-items: end;
  .ar-image{
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .ar-logo{
    width: 28%;
    position: absolute;
    top: 2%;
    left: 3%;
  }
  .ar-border-image-offer{
    width: 100%;
    padding-bottom: 12%;
    position: absolute;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -5%;
      width: 120%;
      height: 100%;
      background-color: $ar-color-white-0;
      transform-origin: 0 100%;
      transform: rotate(6deg);
    }
  }
}