//
// Accordion
//


.accordion {
	.card-header {
		position: relative;
		cursor: pointer;

		&:after {
			content: escape-svg(url("/svg/chevron-down.svg"));
			width: 0.65rem;
			position: absolute;
			right: 1.5rem;
			top: 50%;
			transform: translateY(-50%);
			font: normal normal normal 14px/1 NucleoIcons;
            line-height: 0;
            @include transition($transition-cubic-bezier);
		}
	}

	.card-header[aria-expanded="false"] {
		&:after {
			content: escape-svg(url("/svg/chevron-down.svg"));
		}
	}

	.card-header[aria-expanded="true"] {
		&:after {
			content: escape-svg(url("/svg/chevron-up.svg"));
		}

		.heading {
			color: theme-color("primary");
		}
	}
}
