.m--10 {
  margin: -13rem !important; }

.mt--10,
.my--10 {
  margin-top: -13rem !important; }

.mr--10,
.mx--10 {
  margin-right: -13rem !important; }

.mb--10,
.my--10 {
  margin-bottom: -13rem !important; }

.ml--10,
.mx--10 {
  margin-left: -13rem !important; }

.ar-card-header{
  margin-bottom: -2rem;
  z-index: 5;
}
.ar-border-round{
  box-shadow: $card-box-shadow;
  border-radius: 10px !important;
}