.ar-round{
  border-radius: 100px;
}

.ar-blue-button{
  background-color: $ar-color-blue-4;
  color: $ar-color-white-3;
}

.ar-white-button{
  margin-top:0.3rem;
  background-color: $ar-color-white-3;
  border-color: $ar-color-white-3;
  color: $ar-color-blue-0;
  &:hover &:active{
    color: $ar-color-blue-0;
    background-color: $ar-color-white-3;
    border-color: $ar-color-white-3;
  }
}

.ar-promo-button-avis{
  background-color: $ar-color-red-1;
  color: $ar-color-white-1;
}

.ar-promo-button-alamo{
  background-color: $ar-color-blue-1;
  color: $ar-color-white-1;
}

.ar-promo-button-budget{
  background-color: $ar-color-orange-0;
  color: $ar-color-white-1;
}

.ar-promo-button-payless{
  background-color: $ar-color-blue-3;
  color: $ar-color-white-1;
}
